* {
    font-size: 15px;
    font-family: "JetBrainsMono Nerd Font";
}

window#waybar{
    all: unset;
}

/** TRBL */
.modules-left {
    padding: 12px 8px 0 4px;
}
.modules-center {
    padding: 8px 4px;
}
.modules-right {
    padding: 0 8px 16px 4px;
}

tooltip {
    /* background:@background; */
    /* color: @color7; */
}

#clock:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
    transition: all 150ms ease-out;
    /* color:@color9; */
}

#custom-notification {
    transition: all 150ms ease-out;
}

#workspaces {
}

#workspaces button {
    all: unset;
    padding: 0px 6px;
    color: alpha(white, 0.35);
    transition: all 150ms ease-out;
}

#workspaces button:hover {
    border: none;
    color: alpha(white, 0.45);
    transition: all 150ms ease-out;
}

#workspaces button.active {
    border: none;
    color: alpha(white, 0.75);
}

#workspaces button.empty {
    border: none;
    color: alpha(black, 0.1);
}

#workspaces button.empty:hover {
    border: none;
    color: alpha(black, 0.2);
    transition: all 150ms ease-out;
}

#workspaces button.empty.active {
    border: none;
}

#bluetooth {
    font-size: 18px;
    padding-left: 6px;
    transition: all 150ms ease-out;
}

#network {
    font-size: 14px;
    transition: all 150ms ease-out;
}

#battery {
    font-size: 18px;
    padding-left: 6px;
    transition: all 150ms ease-out;
}

#battery.charging {
    color: #26A65B;
}
#battery.warning:not(.charging) {
    color: #ffbe61;
}
#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    transition: all 150ms ease-out;
}
#tray menu * {
    transition: all 150ms ease-out;
}
#tray menu separator {
    transition: all 150ms ease-out;
}

#clock{
    padding-left: 6px;
    transition: all 150ms ease-out;
}

